# Dependency directories
node_modules/

# environment variable files
.env

# log files
.log

# compiled js
app.js

archive/

.DS_store

transfer/instagram*

import.log
# Manual network exports from dev tools
*.har

dist

coverage